<% content_for :body_class, 'courses-index' %>
<section class="main-courses">
  <header>
    <div class="logo">
      <a href="/">
        <%= image_tag("logo-white.png", class: "logo-white") %>
        <%= image_tag("logo-purple.png", class: "logo-purple") %>
      </a>
    </div>
    <nav>
      <ul>
        <li><%= link_to "Cursos", "/cursos" %></li>
        <li><%= link_to "¡Gana dinero!", "/gana-dinero" %></li>
        <li><%= link_to "Verificar certificado", "/verificar-certificado" %></li>
      </ul>
    </nav>
    <div class="login-box">
      <%= link_to "Campus virtual", "/campus" %>
      <button>¡Regístrate!</button>
    </div>
  </header>

  <div class="flex-container">
    <article class="course-group">
      <%= image_tag("groups/marketing.png") %>
      <h2>Marketing & Negocios</h2>
      <button>Ver cursos</button>
    </article>
    <article class="course-group">
      <%= image_tag("groups/development.png") %>
      <h2>Diseño & Programación</h2>
      <button>Ver cursos</button>
    </article>
    <article class="course-group">
      <%= image_tag("groups/personal.png") %>
      <h2>Idiomas & <br />Des. Personal</h2>
      <button>Ver cursos</button>
    </article>
  </div>
</section>
<section class="courses">
  <h3>¡Estos cursos son especialmente para ti!</h3>

  <div class="flex-container">
    <article class="course">
      <div class="course-image">
        <%= image_tag("angular2.png") %>
      </div>
      <div class="course-title">
        <h4>Título del curso</h4>
      </div>
      <div class="course-details">
        <div class="course-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span>2h 43min</span>
        </div>
        <div class="course-price">
          S/. 50
        </div>
      </div>
    </article>
    <article class="course">
      <div class="course-image">
        <%= image_tag("angular2.png") %>
      </div>
      <div class="course-title">
        <h4>Título del curso</h4>
      </div>
      <div class="course-details">
        <div class="course-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span>2h 43min</span>
        </div>
        <div class="course-price">
          S/. 50
        </div>
      </div>
    </article>
    <article class="course">
      <div class="course-image">
        <%= image_tag("angular2.png") %>
      </div>
      <div class="course-title">
        <h4>Título del curso</h4>
      </div>
      <div class="course-details">
        <div class="course-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span>2h 43min</span>
        </div>
        <div class="course-price">
          S/. 50
        </div>
      </div>
    </article>
    <article class="course">
      <div class="course-image">
        <%= image_tag("angular2.png") %>
      </div>
      <div class="course-title">
        <h4>Título del curso</h4>
      </div>
      <div class="course-details">
        <div class="course-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span>2h 43min</span>
        </div>
        <div class="course-price">
          S/. 50
        </div>
      </div>
    </article>
    <article class="course">
      <div class="course-image">
        <%= image_tag("angular2.png") %>
      </div>
      <div class="course-title">
        <h4>Título del curso</h4>
      </div>
      <div class="course-details">
        <div class="course-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span>2h 43min</span>
        </div>
        <div class="course-price">
          S/. 50
        </div>
      </div>
    </article>
    <article class="course">
      <div class="course-image">
        <%= image_tag("angular2.png") %>
      </div>
      <div class="course-title">
        <h4>Título del curso</h4>
      </div>
      <div class="course-details">
        <div class="course-time">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span>2h 43min</span>
        </div>
        <div class="course-price">
          S/. 50
        </div>
      </div>
    </article>
  </div>

  <button>¡Comienza hoy!</button>
</section>
<section class="experts">
  <!-- slider -->
</section>