<% content_for :body_class, 'courses-show' %>
<section class="main-course">
  <header>
    <div class="logo">
      <a href="/">
        <%= image_tag("logo-white.png", class: "logo-white") %>
        <%= image_tag("logo-purple.png", class: "logo-purple") %>
      </a>
    </div>
    <nav>
      <ul>
        <li><%= link_to "Cursos", "/cursos" %></li>
        <li><%= link_to "¡Gana dinero!", "/gana-dinero" %></li>
        <li><%= link_to "Verificar certificado", "/verificar-certificado" %></li>
      </ul>
    </nav>
    <div class="login-box">
      <%= link_to "Campus virtual", "/campus" %>
      <button>¡Regístrate!</button>
    </div>
  </header>

  <div class="main-info">
    <h1>Título del curso a presentar en esta sección o cuadro</h1><!--
    --><div class="sales">
      <p>Puedes acceder a este curso con tarjeta (crédito o débito) y depósito (agente BCP)</p>
      <button>¡Quiero este curso!</button>
    </div>
  </div>

  <div class="video-info">
    <div class="video-wrapper">
      
    </div>
    <div class="side-info">
      <h4>Información</h4>
      <ul>
        <li>
          <i class="fa fa-play-circle-o"></i>
          <span>16 clases</span>
        </li>
        <li>
          <i class="fa fa-clock-o"></i>
          <span>2h 30min</span>
        </li>
        <li>
          <i class="fa fa-circle"></i>
          <span>Nivel: Básico</span>
        </li>
      </ul>
      <h4>Profesor</h4>
      <figure>
        <%= image_tag("logo-white.png") %>
        <h5>Nombres y Apellidos</h5>
        <p>Breve descripción de la trayectoria profesional del profesor, sobre todo tu desempeño actual</p>
      </figure>
    </div>
  </div>
</section>

<section class="info-course">
  <h2>Sobre el curso:</h2>

  <h5>Descripción del curso</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h5>¿Qué vas a lograr con este curso?</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h5>Programa del curso</h5>
  <h6>MÓDULO 1: Introducción</h6>
  <ul>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
  </ul>

  <h6>MÓDULO 2: Introducción</h6>
  <ul>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
    <li>
      <span>Introducción al curso</span>
      <em>05min</em>
    </li>
  </ul>

  <h5>Certificado</h5>
  <p>Obtendrás un certificado a nombre de Wit University al concluir satisfactoriamente el curso. El certificado se enviará en formato PDF, y es gratuito.</p>

  <h2>Sobre el profesor:</h2>
  <%= image_tag("logo-white.png") %>
  <h5>Nombres y Apellidos</h5>
  <p>Breve descripción de la trayectoria profesional del profesor, sobre todo tu desempeño actual</p>
</section>