<% content_for :body_class, 'public-money' %>

<section class="main-money">
  <h1>Invita a tus amigos y <strong>GANA DINERO</strong> con Wit University</h1>
</section>

<section class="steps">
  <h3>¡Sé uno de nuestros embajadores!</h3>
  <p class="tagline">Sólo tienes que seguir recomendar nuestros cursos y seguir los siguientes pasos:</p>

  <div class="flex-container">
    <article class="step">
      <span class="number">1</span>
      <%= image_tag("money/register.png") %>
      <h4>REGÍSTRATE</h4>
      <p>Sólo tienes que comprar tu Plan Embajador</p>
    </article>
    <article class="step">
      <span class="number">2</span>
      <%= image_tag("money/share.png") %>
      <h4>RECOMIENDA</h4>
      <p>Invita a tus amigos a registrarse y ser parte de esta familia</p>
    </article>
    <article class="step">
      <span class="number">3</span>
      <%= image_tag("money/win.png") %>
      <h4>GANA</h4>
      <p>Gana una beca completa y dinero en efectivo</p>
    </article>
  </div>
</section>

<section class="money-motivation">
  <p>"Wit University<br /> significa una oportunidad para<br /> tu desarrollo personal, profesional y económico"</p>
  <button>¡Quiero ser embajador!</button>
</section>

<section class="plans">
  <h3>Beneficios del Embajador</h3>
  <article class="plan">
    <div class="plan-header">
      <span>Plan Embajador</span>
      <div class="price">
        <span class="price-currency">S/.</span>
        <span class="price-int">150</span>
        <div class="aside-price">
          <span class="price-decimal">.00</span>
          <span class="price-text">al mes</span>
        </div>
      </div>
    </div>
    <div class="plan-body">
      <ul>
        <li>
          <i class="fa fa-check"></i> <span>Acceso ilimitado a todos los cursos originales de Wit University</span>
        </li>
        <li>
          <i class="fa fa-check"></i> <span>Exclusividad para comercializar todos los cursos que existen en la plataforma, y ganar el 20% por cada uno de ellos</span>
        </li>
        <li>
          <i class="fa fa-check"></i> <span>Oficina virtual para administrar tus finanzas (saldo, movimientos, etc)</span>
        </li>
        <li>
          <i class="fa fa-check"></i> <span>Acceso al <a href="#">Plan de Compensación</a> para construir un negocio rentable y sostenible</span>
        </li>
      </ul>
      <button>¡Quiero ser embajador!</button>
    </div>
  </article>
</section>

<section class="compensations">
  <h3>Plan de compensación</h3>
  <div class="flex-container">
    <article class="compensation">
      <%= image_tag("money/bono-sale.png") %>
      <h4>BONO DE VENTA</h4>
      <p>Gana 20% por cada curso que vendas. Ganar dinero en internet es real con Wit U</p>
    </article>
    <article class="compensation">
      <%= image_tag("money/bono-friend.png") %>
      <h4>BONO DE AMIGO</h4>
      <p>Gana s/. 50 por cada amigo que invites a registrarse con el Plan Embajador</p>
    </article>
    <article class="compensation">
      <%= image_tag("money/bono-beca.png") %>
      <h4>BONO DE BECA</h4>
      <p>Gana una beca completa cuando logres invitar a 3 amigos, y olvídate de pagar mensualidades</p>
    </article>
    <article class="compensation">
      <%= image_tag("money/bono-regalias.png") %>
      <h4>BONO DE REGALÍAS</h4>
      <p>Gana s/. 10 por cada embajador que pague su mensualidad. Ganancia hasta la 5ta generación</p>
    </article>
  </div>
</section>

<section class="money-motivation-2">
  <div class="message">
    <p>...Te invito a un <strong>viaje</strong> donde solo se vale <strong>cumplir sueños</strong></p>
    <h2>¿Te atreves?</h2>
  </div>
  <button>¡Sí, quiero!</button>
</section>